services:
  nginx:
    build:
      context: ./services/nginx
      dockerfile: Dockerfile
    container_name: transcendence_nginx
    ports:
      - "8080:80"
      - "8081:443"
    volumes:
      - ./services/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./services/nginx/ssl:/etc/nginx/ssl:ro
    depends_on:
      - frontend
    networks:
      - transcendence-net

  frontend:
    build:
      context: ./services/frontend
      dockerfile: Dockerfile
    container_name: transcendence_frontend
    networks:
      - transcendence-net

networks:
  transcendence-net:
    driver: bridge